<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Andaman and Nicobar Islands</title>
</head>
<style>
    html {
        background: url("images/an bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #placeName {
        font-size: 3em;
        color: rgb(22, 119, 9);
        font-family: Papyrus, fantasy;
        text-align: center;
    }
    
    #intro {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(213, 235, 163);
        font-size: 1.5em;
        text-shadow: rgb(34, 65, 66);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    #attraction {
        padding-left: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(13, 90, 90);
        text-shadow: darkolivegreen;
    }
    
    h4 {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.5em;
        color: rgb(85, 26, 6);
    }
    
    img {
        width: 500px;
        height: 400px;
        padding-left: 32%;
    }
    
    #attrinfo {
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 245, 108);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
        padding-right: 5%;
        padding-left: 5%;
    }
    
    #button {
        background-color: #5978ff;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 43%;
    }
</style>

<body>
    <h1 id="placeName">
        <%= an%>
            <p>"Blue seas, lush islands and colonial past" </p>
    </h1>
    <div>
        <p id="intro">
            Replete with picturesque shimmering beaches, lagoons of turquoise blue waters and a bit of history, Andaman & Nicobar Islands is a little slice of paradise tucked around 1,400 km away from the east coast of India. The union territory comprises a total
            of 572 islands, only 37 of which are inhabited and a few are open to the tourists. Port Blair, the capital city of Andaman & Nicobar Islands, is the gateway to the archipelago and is connected with various islands via multiple daily ferries.
            Havelock and Neil Island are some of the most famous islands among tourists and is known for pearly white sands, palm-lined shores and offer some of the best snorkelling and diving options in India.
        </p>
    </div>
    <div>
        <h1 id="attraction">Places of attraction</h1>
    </div>
    <div>
        <h4>PORT BLAIR</h4>
        <img src="/images/port blair.jpg">
        <p id="attrinfo">
            Located just 2 kilometres east of Port Blair is the Ross Island (now known as Netaji Subhash Bose Island); an island which was once the administrative headquarters of the British, but today is only an uninhabited island . Following an earthquake that
            hit Ross Island in the year 1941, the British left the island and shifted their settlement to Port Blair. The island was not able to overcome the grief of this sudden withdrawal, and decay and neglect ultimately set in. One can see traces
            of a prosperous past in the rubbles of the church, swimming pool and the chief commissioner's home with its extensive gardens and magnificent ballrooms.
        </p>
    </div>
    <div>
        <h4>ELEPHANT BEACH</h4>
        <img src="/images/elephant beach.jpg">
        <p id="attrinfo">
            With its brilliant coral reefs and alluring cyan waters, the Elephant beach is one of the locations that adds to the beach paradise reputation of the Andaman and Nicobar Islands. These waters are a prime destination for tourists wishing to engage in water
            sports like snorkelling, swimming, and diving.
        </p>
    </div>
    <div>
        <h4>CELLULAR JAIL</h4>
        <img src="/images/cellular jail.jpg">
        <p id="attrinfo">
            The Cellular Jail, also known as 'Kala Pani' is an old colonial prison situated in Port Blair, the capital of Andaman and Nicobar islands. Constructed by the Britishers during their colonial rule in India, the jail was used particularly to exile Indian
            political prisoners. The construction of the jail began in the year 1896 and was completed in 1906, after which it was used to house many notable freedom fighters such as Batukeshwar Dutt, Yogendra Shukla and Vinayak Damodar Savarkar. The
            jail complex is now owned by the Government of India and it is recognised as the national memorial monument that showcases the life of prisoners during the British era.
        </p>
    </div>
    <div>
        <h4>HAVELOCK ISLAND</h4>
        <img src="/images/havelock island.jpg">
        <p id="attrinfo">
            Havelock Island is one of the largest and most popular islands in the Andaman and Nicobar archipelago. Officially named Swaraj island, the island is spread over a massive area of 113.93 square kilometres and is situated 57 km north-east of the capital
            city Port Blair. Havelock Island is a paradise of silky white sand beaches, crystal blue water, rich corals and verdant forests. There is no dearth of beauty on this little island as the reputed and much-loved Radhanagar and Vijaynagar Beaches
            are also right on its southern shores. Havelock Island is also a favourite amongst those who want to engage in scuba diving, snorkelling, and deep sea diving.
        </p>
    </div>
    <div>
        <h4>SCUBA DIVING</h4>
        <img src="/images/scuba diving.jpg">
        <p id="attrinfo">
            Andaman and Nicobar Islands is a popular spot for scuba diving among tourists. Most popular island among all the islands for the dives however, is Havelock. It is an ideal diving destination for everyone, right from a novice to an experienced diver.
        </p>
    </div>
    <div><a href="/search" class="btn btn-info" id="button">Back to Search Page</a></div>
</body>

</html>