<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delhi</title>
</head>
<style>
    html {
        background: url("images/delhi bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #placeName {
        font-size: 3em;
        color: rgb(160, 230, 150);
        font-family: Papyrus, fantasy;
        text-align: center;
    }
    
    #intro {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(213, 235, 163);
        font-size: 1.5em;
        text-shadow: rgb(34, 65, 66);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    #attraction {
        padding-left: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(36, 231, 231);
        text-shadow: darkolivegreen;
    }
    
    h4 {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.5em;
        color: rgb(245, 112, 68);
        text-shadow: 2px 2px 5px rgb(99, 32, 32);
    }
    
    img {
        width: 500px;
        height: 400px;
        padding-left: 32%;
    }
    
    #attrinfo {
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(180, 10, 10);
        text-shadow: 2px 2px 5px rgb(73, 8, 8);
        padding-right: 5%;
        padding-left: 5%;
    }
    
    #button {
        background-color: #5978ff;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 43%;
    }
</style>

<body>
    <h1 id="placeName">
        <%= delhi%>
            <p>"The Capital City of India" </p>
    </h1>
    <div>
        <p id="intro">


            The capital of India, Delhi is a cosmopolitan city with a historic old Delhi and the modern New Delhi. From historical monuments to crowded shopping malls, from an extensive network of the modern metro system to Delhi University campus, Dilli has multiple
            personalities and is considered to be the city with a heart.
        </p>
    </div>
    <div>
        <h1 id="attraction">Places of attraction</h1>
    </div>
    <div>
        <h4>INDIA GATE</h4>
        <img src="/images/india gate.jpg">
        <p id="attrinfo">
            One of the topmost places to visit in Delhi, the All India War Memorial, popularly known as the India Gate, is a war memorial located in New Delhi. It is dedicated to the 82,000 soldiers, both Indian and British, who died during the First World War and
            the Third Anglo-Afghan War. The Amar Jawan Jyoti is the burning structure, right underneath the archway, which symbolizes the eternal, immortal soldiers of India.
        </p>
    </div>
    <div>
        <h4>HUMAYUN'S TOMB</h4>
        <img src="/images/Humayun-tomb.jpg">
        <p id="attrinfo">
            Humayun's tomb is the final resting place of the Mughal Emperor Humayun. Located in the Nizamuddin East area of Delhi, it is the first garden-tomb in India. This UNESCO World Heritage Site is known for the stunning typical Mughal architecture with Persian
            influences.
        </p>
    </div>
    <div>
        <h4>LOTUS TEMPLE</h4>
        <img src="/images/lotus temple.jpg">
        <p id="attrinfo">
            Located in the national capital of New Delhi, the Lotus Temple is an edifice dedicated to the Baha'i faith. The magnificent structure of this building unfolds in the form of a stupendous white petal lotus and is one of the most visited establishments
            in the world. The design of this shrine was conceptualized by Canadian architect Fariborz Sahba and was completed in the year 1986. This temple seeks to propagate the oneness of the Almighty and is open to all regardless of their nationality,
            religion, race or gender. The Lotus temple is one of the seven Baha'i House of Worship present around the world. As you enter the complex of the temple, you encounter an enchanting entrance gate, beautiful floral gardens and scintillating
            pools. The pathway leading up to the temple doors is lined with lush green shrubs and a feeling of tranquillity adorns the atmosphere despite the bubbling crowd. Once inside, the mesmerising architecture will lull you into an introspective
            silence. You can read and chant religious texts of any faith, and musical renditions of religious texts can be sung without any inhibitions in the temple complex. The Bahai Lotus Temple is without a doubt one of the must-visit places in the
            capital. Not just for its marvellous architecture but also to experience a new way of meditation in a completely different, blissful ambience.

        </p>
    </div>
    <div>
        <h4>AKSHARDHAM TEMPLE</h4>
        <img src="/images/akshar.jpg">
        <p id="attrinfo">
            The Akshardham Temple, also known as Swaminarayan Akshardham is dedicated to Lord Swaminarayan. Known for its stunning architecture, it is featured in the Guinness Book of World Records as the World's Largest Comprehensive Hindu Temple. Known to be one
            of the best places to visit in Delhi, the temple also attracts a lot of tourists other than the regular religious crowd.
        </p>
    </div>
    <div>
        <h4>RED FORT</h4>
        <img src="/images/Red Fort Delhi.jpeg">
        <p id="attrinfo">
            The Red Fort was the official seat of Mughal rule and authority from 1648 onwards, when the 5th Mughal emperor, Shah Jahan, decided to move the capital of the empire from Agra to Delhi. Constructed using red sandstone, it remains one of the architectural
            marvels of the Mughal era. In 2007, it became a UNESCO World Heritage Site.
        </p>
    </div>
    <div>
        <h4>QUTUB MINAR</h4>
        <img src="/images/Qutub Minar Delhi.jpeg">
        <p id="attrinfo">
            Qutub Minar is a minaret or a victory tower located in Qutub complex, a UNESCO World Heritage Site in Delhi's Mehrauli area. With the height of 72.5 metres (238 ft), Qutub Minar is the second tallest monument of Delhi. Its construction was started in
            1192 by Qutb Ud-Din-Aibak, founder of Delhi Sultanate after he defeated the last Hindu Ruler of Delhi. He constructed the basement, after which the construction was taken over by his son-in-law and successor Iltutmish who constructed three
            additional stories. The fourth and fifth storeys were built by Firoz Shah Tuglak.
        </p>
    </div>
    <div><a href="/search" class="btn btn-info" id="button">Back to Search Page</a></div>
</body>

</html>