<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agra</title>
</head>
<style>
    html {
        background: url("images/goa 2.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #placeName {
        font-size: 3em;
        color: rgb(160, 230, 150);
        font-family: Papyrus, fantasy;
        text-align: center;
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    #intro {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(213, 235, 163);
        font-size: 1.5em;
        text-shadow: rgb(34, 65, 66);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    #attraction {
        padding-left: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(53, 12, 0);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    h4 {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.5em;
        color: rgb(248, 218, 47);
        text-shadow: 2px 2px 5px rgb(99, 32, 32);
    }
    
    img {
        width: 500px;
        height: 400px;
        padding-left: 32%;
    }
    
    #attrinfo {
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(255, 225, 225);
        text-shadow: 2px 2px 5px rgb(73, 8, 8);
        padding-left: 5%;
        padding-right: 5%;
    }
    
    #button {
        background-color: #5978ff;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 43%;
    }
</style>

<body>
    <h1 id="placeName">
        <%= goa%>
            <p>"Beaches, Sunsets and Crazy Nights" </p>
    </h1>
    <div>
        <p id="intro">


            Lying on the western coast, Goa is India's smallest state and unlike any other, known for its endless beaches, stellar nightlife, eclectic seafood, world-heritage listed architecture. Spread across just 3,702 km, Goa lies in the Konkan region. It is a
            far cry from the hippie haven or a beach getaway, and one of the only few destinations that is open 24x7. The laid-backness (susegad) of Goa attracts as many international tourists as it does Indians, or even more so. The Goans are quite friendly
            towards tourists and celebrate many festivals throughout the year, the most famous being the New Year and Goa Carnival. While the seafood is excellent, Goa has one of the best nightlife in India with trendy bars, beach shacks, elegant cafes
            and many clubs and discotheques. Thanks to lower alcohol prices in the state, Goa is also great for younger tourists with relatively tighter pockets.
        </p>
    </div>
    <div>
        <h1 id="attraction">Places of attraction</h1>
    </div>
    <div>
        <h4>CALANGUTE BEACH</h4>
        <img src="/images/Calangute Goa.jpeg">
        <p id="attrinfo">
            Calangute is the largest beach in north Goa stretching from Candolim to Baga. It is a hub for tourists and backpackers as it is the perfect place to look for accommodation. It is known for the beach shacks and water sports like parasailing, water surfing,
            banana ride and jet-skiing.
        </p>
    </div>
    <div>
        <h4>BAGA BEACH</h4>
        <img src="/images/BAGA BEACH Goa.jpeg">
        <p id="attrinfo">
            One of the most popular beaches in North Goa, Baga Beach is located close to Calangute beach, around 30 Km North of Panjim. It is the perfect destination to witness the dazzling nightlife of Goa as signature places such as Britto's, Tito's and Mambos
            are located in the vicinity. It is also known for a vast range of water sports.
        </p>
    </div>
    <div>
        <h4>ANJUNA BEACH</h4>
        <img src="/images/anjuna.jpg">
        <p id="attrinfo">
            Anjuna Beach is among the most popular beaches in North Goa, stretching almost 2km. From family outings to adrenaline-filled adventures, Anjuna Beach is famed for its golden coastline, nightclubs, beach shacks, watersports, full-moon parties and flea
            markets.
        </p>
    </div>
    <div>
        <h4>BASILICA OF BOM JESUS</h4>
        <img src="/images/bascilica.jpg">
        <p id="attrinfo">
            The Basilica of Bom Jesus Church located in Goa is one of a kind in India and is known for its exemplary baroque architecture. Built in 1594 and consecrated in 1605, the building of this church coincides with the beginning of Christianity in India. The
            church is located in Old Goa in Bainguinim about 10 km away from Panjim. The oldest church in Goa, it holds the remains of St. Francis Xavier, a special friend of St. Ignatius Loyola with whom he founded the Society of Jesus (Jesuits). Even
            after 400 years, the remains are in good condition and are taken out once every decade. A site with rich cultural and religious significance, the Basilica of Bom Jesus has been declared a World Heritage Site by UNESCO. Literally translating
            to 'Holy Jesus', this is the only church in Old Goa that is not been plastered on the outside. The facade of the church has triangular roofing which is delicately carved with the initials 'IHS', which is an abbreviation for Jesuit emblem meaning
            'Jesus, Saviour of Men'. Inside, the floor of the Basilica is made of marble mosaic with precious stones, giving it a solemn appearance. The interior is embellished with a screen that runs from the floor to the ceiling and has the image of
            St. Ignatius Loyola protecting an infant Jesus. Above all is the image of the Holy Trinity, which is the most sacred symbol in Christianity. The Basilica of Bom Jesus is over 408 years old and is open to the public every day.

        </p>
    </div>
    <div>
        <h4>CHAPORA FORT</h4>
        <img src="/images/Chapora Fort Goa.jpeg">
        <p id="attrinfo">
            Chapora Fort is undeniably one of the most famous forts in Goa. More popularly known as the 'Dil Chahta Hai Fort', its claim to fame was the 2001 Bollywood blockbuster shot here. A scintillating escape, it offers beautiful views of the sea and Chapora
            River.
        </p>
    </div>
    <div><a href="/search" class="btn btn-info" id="button">Back to Search Page</a></div>
</body>

</html>