<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jaipur</title>
</head>
<style>
    html {
        background: url("images/jaipur.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #placeName {
        font-size: 3em;
        color: rgb(131, 2, 2);
        font-family: Papyrus, fantasy;
        text-align: center;
    }
    
    #intro {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(213, 235, 163);
        font-size: 1.5em;
        text-shadow: rgb(34, 65, 66);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    #attraction {
        padding-left: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(150, 6, 107);
        text-shadow: 1px 1px 1px rgb(99, 32, 32);
    }
    
    h4 {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.5em;
        color: rgb(230, 36, 36);
        text-shadow: 2px 2px 5px rgb(99, 32, 32);
    }
    
    img {
        width: 500px;
        height: 400px;
        padding-left: 32%;
    }
    
    #attrinfo {
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(210, 255, 253);
        text-shadow: 2px 2px 5px rgb(73, 8, 8);
        padding-right: 5%;
        padding-left: 5%;
    }
    
    #button {
        background-color: #5978ff;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 43%;
    }
</style>

<body>
    <h1 id="placeName">
        <%= jaipur%>
            <p>"The Pink City" </p>
    </h1>
    <div>
        <p id="intro">


            Jaipur is a vibrant amalgamation of the old and the new. Also called the Pink City, the capital of the royal state of Rajasthan, was ruled by the Rajputs for many centuries and developed as a planned city in the 17th century AD. Along with Delhi and Agra,
            Jaipur forms the Golden Triangle and hails as one of the most famous tourist circuits of the country. One of the largest cities in India, Jaipur is also home to all the modern amenities with some of the most exotic hotels and resorts in the
            world. The city boasts an international airport and is also very well connected by rail and road. The metro, local buses, shared tuk-tuks, auto-rickshaws and taxi aggregator apps including Uber and Ola solve the commute problem in the city
            quite comfortably.
        </p>
    </div>
    <div>
        <h1 id="attraction">Places of attraction</h1>
    </div>
    <div>
        <h4>CITY PALACE</h4>
        <img src="/images/city palace jaipur.jpg">
        <p id="attrinfo">
            Located in Jaipur, The City Palace is the main palace from where the Maharaja reigned from. The palace includes the Chandra Mahan and Mubarak Mahal along with various other buildings within the complex. It is located towards the north-eastern side of
            Jaipur.
        </p>
    </div>
    <div>
        <h4>AMER FORT</h4>
        <img src="/images/amer fort.jpg">
        <p id="attrinfo">
            In the Pink City of Jaipur, cradled on the top of the Aravali Hill lies the Amer Fort, one of the most magnificent palaces in India. Also commonly known as the Amber Fort, this majestic building with its maze-like passages and serpentine staircases is
            an architectural masterpiece and with significant importance in Indian history. Only 11 kilometres away from the capital city of Jaipur, Amer Fort is clad in pink and yellow sandstone and is a part of an extensive complex. Built by one of
            the most trusted generals of Akbar, Maharaja Man Singh I in the year 1592, Amer Fort served as the main residence of the Rajput Rulers. The Amer Fort through its large ramparts, several gateways and paved paths overlooks the Maotha Lake in
            the town of Amer, which used to serve as the capital of the erstwhile Jaipur princely state. The fort is big enough that it will take you at least two to three hours to explore it in detail, and you can also choose to avail of the audio guides
            to lead you through this fascinating building while explaining the history of the place. Getting an elephant ride up the stairs to the Amber Fort is also a popular tourist activity. The fort sees over five thousand visitors daily and rightfully,
            the Amer Fort was inducted into UNESCO World Heritage Site list as part of the "Hill Forts of Rajasthan" along with five other forts.

        </p>
    </div>
    <div>
        <h4>CHOKI DHANI</h4>
        <img src="/images/choki dhani.jpg">
        <p id="attrinfo">
            Chokhi Dhani is a luxury heritage resort synonymous with Rajasthani village culture. It is located a little on the outskirts of the city on the Tonk Road. The concept of the village is to give you a tangible feel of rural Rajasthan. It is a true depiction
            of traditional Rajasthan with ancient artefacts, handicrafts, paintings, folklore and sculptures. The village offers myriad entertainment options- folk dances, singing, camel rides, puppet shows, fortune-tellers, acrobatics, predicting parrots,
            magic shows, horse riding, boating etc.
        </p>
    </div>
    <div>
        <h4>JANTAR MANTAR</h4>
        <img src="/images/jantar.jpg">
        <p id="attrinfo">
            Jantar Mantar in Jaipur is the largest stone astronomical observatory in the World. It is located just next to the city palace of Jaipur in Rajasthan. Built during the period between 1727 and 1733, the Jantar Mantar is still in a running condition and
            it stands as a witness regarding the wisdom of former age.
        </p>
    </div>
    <div>
        <h4>HAWA MAHAL</h4>
        <img src="/images/hawa mahal.jpg">
        <p id="attrinfo">
            The Hawa Mahal stands at the intersection of the main road in Jaipur, Badi Chaupad. It is regarded as the signature building of Jaipur and was built by Maharaja Sawai Pratap Singh.
        </p>
    </div>
    <div><a href="/search" class="btn btn-info" id="button">Back to Search Page</a></div>
</body>

</html>