<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerala</title>
</head>
<style>
    html {
        background: url("images/North Kerala.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #placeName {
        font-size: 3em;
        color: rgb(160, 230, 150);
        font-family: Papyrus, fantasy;
        text-align: center;
    }
    
    #intro {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(213, 235, 163);
        font-size: 1.5em;
        text-shadow: rgb(34, 65, 66);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    #attraction {
        padding-left: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(36, 231, 231);
        text-shadow: darkolivegreen;
    }
    
    h4 {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.5em;
        color: rgb(245, 112, 68);
        text-shadow: 2px 2px 5px rgb(99, 32, 32);
    }
    
    img {
        width: 500px;
        height: 400px;
        padding-left: 32%;
    }
    
    #attrinfo {
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(133, 235, 230);
        text-shadow: 2px 2px 5px rgb(73, 8, 8);
        padding-right: 5%;
        padding-left: 5%;
    }
    
    #button {
        background-color: #5978ff;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 43%;
    }
</style>

<body>
    <h1 id="placeName">
        <%= kerala%>
            <p>"God's Own Country" </p>
    </h1>
    <div>
        <p id="intro">


            Famously known as 'God's Own Country', Kerala is a state located on the Malabar coast of Southern India. Home to a vast network of brackish lagoons called backwaters, ayurvedic massages, wildlife sanctuaries, sprawling tea gardens, hill-stations, palm
            tree-lined beaches and colourful dance forms, Kerala has everything on offer to take your pick from!
        </p>
    </div>
    <div>
        <h1 id="attraction">Places of attraction</h1>
    </div>
    <div>
        <h4>MUNNAR</h4>
        <img src="/images/Munnar Kerala.jpeg">
        <p id="attrinfo">
            Munnar is a popular hill-station of Kerala perched at an altitude of 1600 metres in the Western Ghats. Famous for its tea estates, various shades of green, blankets of mist and craggy peaks, Munnar is aptly known as the 'Kashmir of South India'. Situated
            on the banks of three rivers- Madupetti, Nallathanni and Periavaru, Munnar is also blessed with natural view-points apart from the tea-plantations. Munnar is divided into Old Munnar, where the tourist information office is, and Munnar, where
            the bus station and most guest houses are located. The Eravikulam National Park, Salim Ali Bird Sanctuary and tea plantations are its major attractions.
        </p>
    </div>
    <div>
        <h4>ALLEPPEY</h4>
        <img src="/images/alleppey.jpg">
        <p id="attrinfo">
            Officially called Alappuzha, Alleppey is a city in the South Indian state of Kerala. Bordering the Laccadive Sea, it is known for its wide network of interlinking, palm-fringed canals called backwaters and rejuvenating Ayurvedic resorts. Allepey is also
            popular for its Houseboat cruises that pass through the serene backwaters, where you can catch glimpses of green paddy fields, choir making activities, beautiful avifauna and witness the life of locals in Kerala. Towards the shore lies the
            Alleppey beach in the Arabian Sea, a beautiful example of the gems you’d find along the Malabar Coast. The appeal of this beach is only amplified by the history attached to it, and a walk down the 137-year old pier is a must. Be sure to catch
            a traditional snake boat race in the months of August and September and try out some toddy (palm wine) at a local toddy shop for adding a touch of authenticity to your travel experience in Allepey.

        </p>
    </div>
    <div>
        <h4>KOVALAM</h4>
        <img src="/images/KOVALAM.jpg">
        <p id="attrinfo">
            Kovalam is an idyllic coastal town located around 13 km from Thiruvananthapuram in Kerala. Famous for its three adjacent crescent-shaped shallow water and low tidal beaches, Kovalam is dotted with resorts and ayurvedic massage centres.
        </p>
    </div>
    <div>
        <h4>IDUKKI</h4>
        <img src="/images/Idukki Kerala.jpeg">
        <p id="attrinfo">
            Idukki, a landlocked district of Kerala, is one of the most nature-rich areas in Kerala with more than half of the area covered with forest. This rugged hill resort is known for its wildlife sanctuaries, beautiful bungalows, tea factories, rubber plantations
            and forests.
        </p>
    </div>
    <div>
        <h4>WAYANAD</h4>
        <img src="/images/Wayanad Kerala.jpeg">
        <p id="attrinfo">
            Replete with waterfalls, historical caves, comfortable resorts and homestays, Wayanad in Kerala is famous for its spice plantations and wildlife. Walking through the sprawling spice plantations, trekking to the pre-historic caves and experiencing a resort
            holiday are one of the many things you can do to get a taste of Wayanad.
        </p>
    </div>
    <div>
        <h4>VAGAMON</h4>
        <img src="/images/Wagamon Kerala.jpeg">
        <p id="attrinfo">
            Located near Kottayam-Idukki Border, Wagamon, popularly known as Vagamon, is a quiet offbeat hill station in Kerala. With a pleasant climate throughout the year, this breathtaking tourist spot has meandering rivulets and lush green hills surrounding it.
            The tea garden, pine forests, waterfalls, mesmerising meadows are all that makes Vagamon the perfect getaway.
        </p>
    </div>
    <div><a href="/search" class="btn btn-info" id="button">Back to Search Page</a></div>
</body>

</html>