<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ladakh</title>
</head>
<style>
    html {
        background: url("images/ladakh bd1.webp") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #placeName {
        font-size: 3em;
        color: rgb(8, 58, 2);
        font-family: Papyrus, fantasy;
        text-align: center;
    }
    
    #intro {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(213, 235, 163);
        font-size: 1.5em;
        text-shadow: rgb(34, 65, 66);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    #attraction {
        padding-left: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(33, 75, 75);
        text-shadow: darkolivegreen;
    }
    
    h4 {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.5em;
        color: rgb(196, 55, 9);
        text-shadow: 2px 2px 5px rgb(252, 173, 173);
    }
    
    img {
        width: 500px;
        height: 400px;
        padding-left: 32%;
    }
    
    #attrinfo {
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(246, 247, 222);
        text-shadow: 2px 2px 5px rgb(73, 8, 8);
        padding-left: 5%;
        padding-right: 5%;
    }
    
    #button {
        background-color: #5978ff;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 43%;
    }
</style>

<body>
    <h1 id="placeName">
        <%= ladakh%>
            <p> "India's Own Moonland"</p>
    </h1>
    <div>
        <p id="intro">


            Ladakh is a union territory in the Kashmir region of India. Formerly falling in the state of Jammu & Kashmir, Ladakh was administered a union territory on 31st October 2019. Extending from the Siachen Glacier to the main Great Himalayas, Ladakh is a land
            like no other. Ladakh is an adventure playground for climbing, jeeps tours, rafting and high-altitude trekking. Note that Leh Ladakh is inaccessible by road outside the summer months. The road passes close altogether from around October to
            May, and the only way to reach left is by air.
        </p>
    </div>
    <div>
        <h1 id="attraction">Places of attraction</h1>
    </div>
    <div>
        <h4>PANGONG LAKE</h4>
        <img src="/images/Pangong lake Ladakh.jpeg">
        <p id="attrinfo">
            The most popular tourist attraction in Ladakh, Pangong lake is an endorheic (landlocked) lake situated at 4350 meters. Also known as Pangong Tso, it is 12 kilometres long and extends from India to Tibet. Almost 60% of Pangong Lake lies in the Tibetan
            Autonomous Region. A unique feature of the lake is that it does not remain blue throughout the year or even the day, rather it changes colours from azure to light blue to green and grey too! It is famous amongst tourists as the spot where
            the Bollywood movie "3 Idiots" was shot.
        </p>
    </div>
    <div>
        <h4>MAGNETIC HILL</h4>
        <img src="/images/magnetic hill.jpg">
        <p id="attrinfo">
            The popular Magnetic Hill of Ladakh is a cyclops hill where vehicles defy the force of gravity and move upwards on the hill when parked at the marked location. The hill lies at a distance of 30 km from the town of Leh on the Leh-Kargil highway.
        </p>
    </div>
    <div>
        <h4>KHARDUNG LA</h4>
        <img src="/images/800px-Khardung_La_Ladakh_20200521124208.jpg">
        <p id="attrinfo">
            Khardung La, also known as Khardzong La, is a high mountain pass in Ladakh region of Jammu and Kashmir, near Leh. It serves as the gateway to Shyok and Nubra Valley. Khardung La is popular as the highest motorable road in India at an elevation of 5602
            metres.
        </p>
    </div>
    <div>
        <h4>LEH PALACE</h4>
        <img src="/images/Leh Palace Ladakh.jpeg">
        <p id="attrinfo">
            The Leh Palace is a 17th-century former royal palace and one of the central attractions in Leh. Built under the patronage of by King Sengge Namgyal, it used to house his family. The nine-storey dun-coloured palace now houses a museum and a prayer room,
            while the highlight is the sweeping view of Leh and the surrounding Zanskar mountain from the rooftop.
        </p>
    </div>
    <div>
        <h4>TSO MORIRI</h4>
        <img src="/images/Tso moriri Ladakh.jpeg">
        <p id="attrinfo">
            Between Ladakh and Tibet, lies Moriri Lake, the largest high altitude lakes in India, at an altitude of 4,595m. Located in the Changtang region, it is a twin to the Pangong Lake. This stretch of sparkling, crystal clear, alkaline water is accessible only
            during summer months. An inner line permit is required for visiting Tso Moriri.
        </p>
    </div>
    <div>
        <h4>NUBRA VALLEY</h4>
        <img src="/images/Nubra Valley Ladakh.jpeg">
        <p id="attrinfo">
            Nubra Valley lies in the union territory of Jammu & Kashmir, at a distance of around 140 Km from Leh. With arid mountains in the backdrop, it is famous for the Bactrian camel rides, orchards and monasteries. Surrounded by snow-dusted Himalayan mountains,
            it can be reached via Khardung La.
        </p>
    </div>
    <div><a href="/search" class="btn btn-info" id="button">Back to Search Page</a></div>
</body>

</html>