<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manali</title>
</head>
<style>
    html {
        background: url("images/manli.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #placeName {
        font-size: 3em;
        color: rgb(20, 107, 8);
        font-family: Papyrus, fantasy;
        text-align: center;
    }
    
    #intro {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(233, 255, 182);
        font-size: 1.5em;
        text-shadow: rgb(34, 65, 66);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    #attraction {
        padding-left: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(9, 91, 146);
        text-shadow: darkolivegreen;
    }
    
    h4 {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.5em;
        color: rgb(245, 112, 68);
        text-shadow: 2px 2px 5px rgb(99, 32, 32);
    }
    
    img {
        width: 500px;
        height: 400px;
        padding-left: 32%;
    }
    
    #attrinfo {
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(114, 5, 5);
        text-shadow: 2px 2px 5px rgb(73, 8, 8);
        padding-left: 5%;
        padding-right: 5%;
    }
    
    #button {
        background-color: #5978ff;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 43%;
    }
</style>

<body>
    <h1 id="placeName">
        <%= manali%>
            <p> "Lover's Paradise"</p>
    </h1>
    <div>
        <p id="intro">


            Nestled in between the snow-capped slopes of the Pir Panjal and the Dhauladhar ranges, Manali is one of the most popular hill stations in the country. With jaw-dropping views, lush green forests, sprawling meadows carpeted with flowers, gushing blue streams,
            a perpetual fairy-tale like mist lingering in the air, and a persistent fragrance of pines - Manali has been blessed with extraordinary scenic beauty. From museums to temples, from quaint little hippie villages to bustling upscale streets,
            river adventures to trekking trails, Manali has every reason to be the tourist magnet it is, all year round.
        </p>
    </div>
    <div>
        <h1 id="attraction">Places of attraction</h1>
    </div>
    <div>
        <h4>SOLANG VALLEY</h4>
        <img src="/images/Solang Valley Manali.jpeg">
        <p id="attrinfo">
            A valley between the Beas Kund and the Solang village tends to be a favorite for all its visitors as well as the locals. Also known as the Snow point, the Solang valley is famous not only for the glaciers and snow-clad landscapes but also for the countless
            activities that one can enjoy here.
        </p>
    </div>
    <div>
        <h4>HADIMBA TEMPLE</h4>
        <img src="/images/hadimba temple.jpg">
        <p id="attrinfo">
            Hadimba temple, away from the hustle and bustle of city life, is a peaceful place surrounded by towering deodar trees. The temple is dedicated to Hidimba, the wife of Bhima, one of the five Pandava prince from the great Indian epic Mahabharata. The main
            attraction of the temple is the three day Hidimba Devi Festival, which attracts devotees from all over the world and features colourful folk dance performances.
        </p>
    </div>
    <div>
        <h4>ROHTANG PASS</h4>
        <img src="/images/rohtang.jpg">
        <p id="attrinfo">
            Rohtang pass is the stretch which connects Manali to Himachal's more dreamy and dessert like landscapes, Spiti and Lahaul, and is one itself. This vast snow desert is a landscape like only a few other and a view one should not miss, while here.
        </p>
    </div>
    <div>
        <h4>VASHISHT TEMPLE</h4>
        <img src="/images/vashisht.jpg">
        <p id="attrinfo">
            Located inside the very famous Vashisht Temple in Manali, Vashisht Baths is a hot water spring, believed to possess medicinal values. Also known as Vashisht Springs, it is visited by a lot of tourists, many of whom take a dip in the holy water to rid
            themselves of skin diseases and infections.
        </p>
    </div>
    <div>
        <h4>PARAGLIDING </h4>
        <img src="/images/Paragliding Manali.jpeg">
        <p id="attrinfo">
            The hillside town of Manali is famous for paragliding. At 2050 metres above sea level, it is an ultimate location for the sport, with its beautiful green valleys, stark blue skies, and snow-capped mountain peaks. The picture-perfect valley boasts of ideal
            wind conditions for paragliding and is thronged by both international and domestic tourists. Starting with a basic training course, the operators are well organized, competent and trustworthy.
        </p>
    </div>
    <div>
        <h4>KULLU</h4>
        <img src="/images/kullu.jpg">
        <p id="attrinfo">
            Kullu, a popular tourist destination in Himachal Pradesh located on the banks of Beas river. With panoramic views and majestic hills covered with Deodar and Pine trees, it is a nature lover's paradise. Kullu generally coupled with its sister town Manali
            which is on much higher altitude and provides more scenic views.
        </p>
    </div>
    <div>
        <h4>THE GREAT HIMALAYAN NATIONAL PARK</h4>
        <img src="/images/national park.jpg">
        <p id="attrinfo">
            Great Himalayan National Park is one of India's national parks, which is located in Kullu region of Himachal Pradesh. Surrounded on all the three sides by the Himalayan Mountains, the park is home to diverse wildlife species. The Great Himalayan National
            Park received the status of a national park in 1999. At present, it is home to more than 375 species of fauna, 31 species of mammals and 181 species of birds. This beautiful location of the national park becomes all the more attractive due
            to the Deodar and Oak trees.
        </p>
    </div>
    <div>
        <h4>MANU TEMPLE</h4>
        <img src="/images/manu.jpg">
        <p id="attrinfo">
            Manu temple is said to be the only temple of Manu in India, who is believed to be the creator of human race. This Pagoda style of structure offers quite a glimpse into history, spirituality as well as a fascinating style of architecture.
        </p>
    </div>
    <div><a href="/search" class="btn btn-info" id="button">Back to Search Page</a></div>
</body>

</html>