<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nainital</title>
</head>
<style>
    html {
        background: url("images/nainital bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #placeName {
        font-size: 3em;
        color: rgb(11, 70, 3);
        font-family: Papyrus, fantasy;
        text-align: center;
    }
    
    #intro {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(131, 73, 6);
        font-size: 1.5em;
        text-shadow: 2px 2px 5px rgb(248, 197, 197);
    }
    
    #attraction {
        padding-left: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(36, 231, 231);
        text-shadow: darkolivegreen;
    }
    
    h4 {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.5em;
        color: rgb(245, 112, 68);
        text-shadow: 2px 2px 5px rgb(99, 32, 32);
    }
    
    img {
        width: 500px;
        height: 400px;
        padding-left: 32%;
    }
    
    #attrinfo {
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(133, 235, 230);
        text-shadow: 2px 2px 5px rgb(73, 8, 8);
        padding-left: 5%;
        padding-right: 5%;
    }
    
    #button {
        background-color: #5978ff;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 43%;
    }
</style>

<body>
    <h1 id="placeName">
        <%= nainital%>
            <p> "City of Lakes"</p>
    </h1>
    <div>
        <p id="intro">


            The gem of Uttarakhand - Nainital is a charming hill station that sits prettily at the green foothills of the Kumaon ranges in the Himalayas. Located at an elevation of around 1938 metres, Nainital is located and developed around the beautiful Naini Lake,
            after which the town is named. The most visited hill station in North India, Nainital is a perfect weekend getaway from the Indian capital of Delhi and the nearby places. Founded by the British due to its resemblance to the Cumbrian Lake District,
            Nainital brims with elegant colonial structures that amplify the beauty of this place. It experiences a pleasant climate throughout the year, making Nainital a tourist getaway, especially preferred by families and honeymooners. The Naini Lake,
            along with the other lakes in the area, has earned this town the title of ‘City of Lakes’. The most popular activity for tourists visiting Nainital is boating the in Naini Lake, while few others visit for trekking in the surrounding mountain
            regions.
        </p>
    </div>
    <div>
        <h1 id="attraction">Places of attraction</h1>
    </div>
    <div>
        <h4>NAINI LAKE</h4>
        <img src="/images/naini lake.jpg">
        <p id="attrinfo">
            Naini Lake (short for Nainital Lake) is a beautiful natural fresh body lake. The lake is in crescent or kidney shape and is one of the most famous lakes of the Kumaon region. Famous for boating, evening walks and picnics, it offers a breathtaking view,
            especially during early morning and sunset.
        </p>
    </div>
    <div>
        <h4>SNOW VIEW POINT</h4>
        <img src="/images/snow view.jpg">
        <p id="attrinfo">
            Snow View Point in Nainital stands at a dizzying altitude of 2270 meters above sea level and is one of the most attractive tourist spots of the area. As the name suggests, Snow View Point offers a panoramic view of the mighty Himalayas draped in a blanket
            of milky-white snow. One can see a picturesque view of all three important peaks- Nanda Devi, Trishul and Nanda Kot peaks together from this point.
        </p>
    </div>
    <div>
        <h4>NAINA PEAK</h4>
        <img src="/images/naina peak.jpg">
        <p id="attrinfo">
            Also called the China Peak, this range located at a height of 2615 m is a challenging trek. The way up the slope is dotted with beautiful rhododendron bloom. From the peak you can view the Tibet Border and Nanda Devi Peak.
        </p>
    </div>
    <div>
        <h4>ECO CAVE GARDEN</h4>
        <img src="/images/eco cave.jpg">
        <p id="attrinfo">
            Famous for its inter connected rocky caves, hanging gardens and the musical fountain, the Eco Garden are a set of six small caves in the shape of various animals. In the evenings, you can see the spectacle of the musical fountain with various audio video
            effects.
        </p>
    </div>
    <div>
        <h4>HIGH ALTITUDE ZOO</h4>
        <img src="/images/zoo.jpg">
        <p id="attrinfo">
            Established in 1984, Pt. G.B. Pant High Altitude Zoo or Nainital Zoo is situated on the Sher ka Danda hill in Tallital, Nainital. Perched at a height of 2100 metres and spread over an area of 4.6 hectares makes it the only one of its kind. The zoo is
            home to several endangered species and is a popular tourist spot.
        </p>
    </div>
    <div><a href="/search" class="btn btn-info" id="button">Back to Search Page</a></div>
</body>

</html>