<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Udaipur</title>
</head>
<style>
    html {
        background: url("images/udaipur bg.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    #placeName {
        font-size: 3em;
        color: rgb(160, 230, 150);
        font-family: Papyrus, fantasy;
        text-align: center;
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    #intro {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(213, 235, 163);
        font-size: 1.5em;
        text-shadow: rgb(34, 65, 66);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    #attraction {
        padding-left: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        color: rgb(36, 231, 231);
        text-shadow: 2px 2px 5px rgb(75, 19, 19);
    }
    
    h4 {
        text-align: center;
        font-family: sans-serif;
        font-size: 1.5em;
        color: rgb(245, 112, 68);
        text-shadow: 2px 2px 5px rgb(99, 32, 32);
    }
    
    img {
        width: 500px;
        height: 400px;
        padding-left: 32%;
    }
    
    #attrinfo {
        font-size: 1.5em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(133, 235, 230);
        text-shadow: 2px 2px 5px rgb(73, 8, 8);
        padding-left: 5%;
        padding-right: 5%;
    }
    
    #button {
        background-color: #5978ff;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-left: 43%;
    }
</style>

<body>
    <h1 id="placeName">
        <%= udaipur%>
            <p>"VENICE OF EAST"</p>
    </h1>
    <div>
        <p id="intro">

            Udaipur, also known as the City of Lakes, is the crown jewel of the state of Rajasthan. It is surrounded by the beautiful Aravalli Hills in all directions, making this city as lovely as it is. This 'Venice of the East' has an abundance of natural beauty,
            mesmerising temples and breathtaking architecture which makes it a must-visit destination in India. A boat ride through the serene waters of Lake Pichola will be enough to prove to you why Udaipur is the pride of Rajasthan. Located in a valley
            and surrounded by four lakes, Udaipur has natural offerings with a grandeur multiplied by human effort, to make it one of the most enchanting and memorable tourist destinations. It justifies all names ever offered to its charm from 'Jewel
            of Mewar' to 'Venice of the East'. And though the entire city's architecture is flattering, the Lake Palace hotel is something that offers the city a visual definition. The revered Nathdwara temple is about 60 km from Udaipur.

        </p>
    </div>
    <div>
        <h1 id="attraction">Places of attraction</h1>
    </div>
    <div>
        <h4>LAKE PICHOLA</h4>
        <img src="/images/Pichola Lake Udaipur.jpeg">
        <p id="attrinfo">
            The Lake Pichola is an artificial lake located in the heart of Udaipur, Rajasthan. The oldest and one of the largest lakes of the city, the Lake Pichola observes lakhs of tourists because of its tranquillity and beauty. Flanked by lofty hills, heritage
            buildings and bathing ghats, it is a dream come true for peace and nature lovers. A visit to the Lake Pichola is incomplete without a boat ride, especially in the dawn. During evenings, it seems the entire place has been dipped in gold as
            you can see the heritage buildings and the pristine water turning golden with the sun's reflection. The enthralling views will take you to a different world of stillness and will also bring out your romantic side.
        </p>
    </div>
    <div>
        <h4>CITY PALACE</h4>
        <img src="/images/palace udaipur.jpg">
        <p id="attrinfo">
            Built on the banks of Lake Pichola, the City Palace in Udaipur is considered to be the largest royal complex in Rajasthan. The magnificent palace was built in the year 1559 by Maharana Uday Singh and served as the main seat of power, where the Maharanas
            lived and administered the kingdom from. Subsequently, the palace was made even more splendid by his successors, who added a number of structures to it. The Palace now has an assortment of Mahals, courtyards, pavilions, corridors, terraces,
            rooms and hanging gardens. There is a museum here as well that showcases some of the finest elements of Rajput arts and culture - from colourful paintings to the typical architecture found in Rajasthani palaces.
        </p>
    </div>
    <div>
        <h4>FATEHSAGAR LAKE</h4>
        <img src="/images/fatehsagar.jpg">
        <p id="attrinfo">
            Fateh Sagar Lake, placed in the city of Udaipur in Rajasthan, is an artificial lake named after Maharana Fateh Singh of Udaipur and Mewar and built to the north-west of Udaipur, located to the north of Lake Pichola in the 1680s, is one of the four lakes
            of the Udaipur city, namely the Lake Pichola (within the Udaipur town), Udai Sagar Lake (13 km to the east of Udaipur) and Dhebar Lake or Jaisamand Lake (52 km south east of Udaipur). During drought conditions, when the rainfall is scarce,
            water storage in the lake is insufficient to meet the needs. To prevent loss of water due to evaporation, cetyl alcohol (hexadecanol) is sprayed over the lake surface.
        </p>
    </div>
    <div>
        <h4>EKLINGJI TEMPLE</h4>
        <img src="/images/eklingji.jpg">
        <p id="attrinfo">
            Almost 22km away from Udaipur, Eklingji Temple is dedicated to Lord Shiva. Taking a cab to this temple is the most convenient way to reach it. It is one of the most famous temples of Rajasthan, also known for its remarkable architecture.
        </p>
    </div>
    <div>
        <h4>JAG MANDIR PALACE</h4>
        <img src="/images/Jag Mandir Palace Udaipur.jpeg">
        <p id="attrinfo">
            Jag Mandir Palace (or ‘The Lake Garden Palace’), is a glorious palace located on the southern island of Lake Pichola in Udaipur, Rajasthan. The palace is three-storied and the structure is made out of marble and yellow sandstone. It would be a delight
            to see eight life-sized elephants carved out of pure white marble that seems to guard the palace. It was completed in the early years of the 17th century by Maharana Jagat Singh. The construction was started in 1551 by Maharana Amar Singh
            and continued by Maharana Karan Singh where it was served as a hiding place for Shah Jahan and was finally completed by Maharana Jagat Singh I.
        </p>
    </div>
    <div><a href="/search" class="btn btn-info" id="button">Back to Search Page</a></div>
</body>

</html>